<div id="bio">
  <img src="/images/mug2013.png" width="175" height="175" alt="" />
  <p>
    My name is Aaron Sumner, of Lawrence, Kansas, USA; by way of Seattle,
    Washington, and Jersey County, Illinois.
  </p>

  <p>
    I'm a long-time web developer, at it since 1994 when I began creating
    some of the very first departmental and organizational websites as an
    undergraduate at the University of Kansas. Over the years I've worked my
    way through static HTML to Applescript (yes, Applescript) to Perl to
    PHP to Ruby.
    Since 2005 I've worked mostly with Ruby and Rails, with a dose of
    Javascript.
    I'm employed at <a href="http://oreilly.com/">O'Reilly Media</a>.
  </p>

  <p>
    I still learn new things every day. Sometimes I share them here.
  </p>
</div>