<div id="bio">
  <img src="/images/portrait.png" alt="" />
  <p>
    My name is Aaron Sumner. I've been developing applications and content for
    the web since 1994, particularly for education-related projects. In my
    current role at the University of Kansas Center for Research on Learning
    I manage web and educational technology research and development.
    My technology stack is Ruby-heavy with a dose of Javascript.
  </p>

  <p>
    On the side I enjoy photography, baseball, college basketball, music and bowling.
  </p>
</div>