<footer id="footer">
  <div class="row">
    <div id="navigation" class="span8">
      <a href="/">Aaron Sumner</a>
      <a href="/archives.html">Archives</a>
      <a href="/projects.html">Projects</a>
      <a href="/colophon.html">Colophon</a>
      <a href="/atom.xml">Feed</a>
    </div>

    <div id="copyleft" class="span4">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png"></a>
      <a href="http://www.dreamhost.com/r.cgi?79482"><img alt="Hosting by Dreamhost" src="/images/dreamhost.gif"></a>
    </div>
  </div>
</footer>