body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #631111;

  &:hover {
    color: #993333;
    text-decoration: none;
  }
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

#content {
  font-size: 16px;
  line-height: 22px;
  a {
    text-decoration: underline;
  }

  h1 {
    margin-bottom: 20px;
  }

  p, li {
    margin-bottom: 20px;
  }
}

#social {
  margin-left: -14px;
  a:hover {
    background: none;
  }
}

.project {
  margin-bottom: 50px;

  a {
    font-weight: bold;
  }

  img {
    float: right;
    margin: 0 0 5px 5px;
  }
}

.project-featured {
  font-size: 20px;
  line-height: 30px;
}

.book {
  border: 1px solid #eeeeee;
}

.floater {
  float: right;
  margin: 0 0 20px 20px;
}

#bio {
  img {
    float: right;
    margin: 0 0 5px 5px;
  }
}

footer {
  margin-bottom: 50px;
}

time {
  font-style: italic;
}

.amazon-book-cover {
  float: right;
  margin: 0 auto 10px 10px;
}

.reading {
  overflow: auto;
}
