---
title: Reading List
layout: page
---

<p>
  Here's a list of books I've checked out of late. Most of these links point to
  Amazon.com and include my affiliate code, so if you purchase them I get a
  small cut. Or you can just do what I do and check your local library!
</p>

{% assign reading_list = site.reading | reverse %}
{% assign reading_by_year = reading_list | group_by_exp: "post", "post.date | date: '%Y'" %}
{% for year_group in reading_by_year %}
  <h2 style="margin-top: 40px">{{ year_group.name }}</h2>
  {% for post in year_group.items %}
    <div class="reading">
      {% if post.image %}
        <a href="{{ post.purchase_url }}"><img alt="{{ post.title}} book cover" class="book amazon-book-cover" src="{{ post.image }}" /></a>
      {% endif %}
      <h4>
        <a href="{{ post.purchase_url }}">{{ post.title }} ({{ post.author }})</a>
      </h4>
      {{ post.content | strip_html | truncatewords: 100 }}
      <time>({{ post.date | date: "%B %Y" }})</time>
    </div>
  {% endfor %}
{% endfor %}
