---
title: "<%= @reading.title %>"
purchase_url: <%= @reading.url %>
author: "<%= @reading.author %>"
publisher: "<%= @reading.publisher %>"
date: <%= @reading.date_param %>
image: <%= @reading.image %>
tags:
---

