Options All -Indexes
<IfModule mod_rewrite.c>
  Redirect 301 /projects.html /pages/projects.html
  Redirect 301 /colophon.html /pages/colophon.html
  Redirect 301 /archives.html /pages/archives.html
  Redirect 301 /now /pages/now.html
  RewriteEngine on
  RewriteRule ^([0-9]+)/([0-9]+)/(.*)/$ /posts/$1/$2/$3.html? [R=301,NE,NC,L]
  RewriteRule ^([0-9]+)/([0-9]+)/(.*)$ /posts/$1/$2/$3.html? [R=301,NE,NC,L]
</IfModule>
