---
title: Home
---

<div id="projects">
  <div class="row">
    <div class="project project-featured col-md-6">
      <a href="https://leanpub.com/everydayrailsrspec"><img src="/images/rspec_book.jpg" alt="Everyday Rails Testing with RSpec" /></a>
      <a href="https://leanpub.com/everydayrailsrspec">Everyday Rails Testing
      with RSpec</a> is my first, self-published book! Learn how to test your
       Rails applications the way I did, by focusing on core technologies and
      readable tests that pass. <a
      href="https://leanpub.com/everydayrailsrspec">Available now for $17</a>
      through Leanpub.
    </div>
    <div class="project project-featured col-md-6">
      <a href="http://everydayrails.com/"><img src="/images/everyday_rails.png" alt="Everyday Rails" /></a>
      <a href="http://everydayrails.com/">Everyday Rails</a> is a blog for
      people who need to build stuff with Rails and get on to their next
      project. I started it in 2010 to help beginner and intermediate Rails
      developers be productive while still learning the ropes.
    </div>
  </div>

  <div class="row">
    <div class="project col-md-4">
      <a href="http://soundrefound.com/">Sound Refound</a> is an online gallery of promotional flyers for concerts. I've collected these over the years, primarily in the Lawrence, Kansas, and Seattle, Washington areas.
    </div>
    <div class="project col-md-4">
      <a href="http://rockchalknation.com/">Rock Chalk Nation</a> is a convenient collection of headlines from Kansas Jayhawks-related news sources. I made it to be useful to me; perhaps you'll find it handy as well. Mainly an exercise in how quickly I could get something like this built (answer: about 30 minutes).
    </div>
    <div class="project col-md-4">
      <a href="http://kansasroadtrips.com/">Kansas Road Trips</a> is a travel blog of sorts for anyone interested in exploring the nooks and crannies of the Sunflower State. Photography and logo by yours truly.
    </div>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-6">
    <h3>Recent posts</h3>
    <ul>
      <% blog.articles[0...8].each do |article| %>
        <li>
          <a href="<%= article.url %>"><%= article.title %></a>
          <time>(<%= article.date.strftime('%B %e, %Y') %>)</time>
        </li>
      <% end %>
    </ul>

    <p>
      <a href="/pages/archives.html">Hit the archives</a>
    </p>
  </div>

  <div id="bio" class="col-md-6">
    <h3>Biography</h3>

    <img src="/images/mug2013.png" alt="" class="floater" />

    <p>
      My name is Aaron Sumner, of Lawrence, Kansas, USA; by way of Seattle,
      Washington, and Jersey County, Illinois.
    </p>

    <p>
      I'm a long-time web developer, at it since 1994 when I began creating some
      of the very first departmental and organizational websites as an
      undergraduate at the University of Kansas. Over the years I've worked my
      way through static HTML to Applescript (yes, Applescript) to Perl to PHP to
      Ruby. Since 2005 I've worked mostly with Ruby and Rails, with a dose of
      Javascript and helping of Python.
    </p>

    <p>
      I'm employed at <a href="http://oreilly.com/">O'Reilly Media</a> and
      <a href="http://programming.oreilly.com/asumner">write there sometimes</a>,
      too. Maybe you should
      <a href="http://hire.jobvite.com/Jobvite/Jobvite.aspx?m=nQUf4nwV">come work with me</a>.
    </p>

    <p>
      I still learn new things every day. Sometimes I share them here.
    </p>
  </div>
</div>

